<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bingdian.kaqu" platformBuildVersionCode="19" platformBuildVersionName="4.4.2-1035858">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <application android:allowBackup="true" android:icon="@drawable/kaqulogo" android:label="卡趣" android:name="com.bingdian.kazhu.abs.KaQuApplication" android:theme="@style/AppTheme">
        <meta-data android:name="debug" android:value="false"/>
        <meta-data android:name="api_key" android:value="pzX2PfskeGGmNQNR3gUIzIzT"/>
        <meta-data android:name="UMENG_APPKEY" android:value="52bf8e6156240b114102629f"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="debug"/>
        <meta-data android:name="VERSION_CODE" android:value="android_1.9"/>
        <meta-data android:name="TD_APP_ID" android:value="D6C407F387831CC2DB17F54354EC1503"/>
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="GSBDAZEfcYsyTP3AuSWz45Tf"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="5bd1c1378ab2d2c93a172b90ad9349a5"/>
        <meta-data android:name="TD_CHANNEL_ID" android:value="UMENG_CHANNEL_VALUE"/>
        <meta-data android:name="IS_DEBUG" android:value="0"/>
        <activity android:label="@string/app_name" android:name="com.bingdian.kazhu.activity.SplashNewActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.bingdian.kaqu.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.bingdian.kazhu.activity.WizzardActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.bingdian.kazhu.activity.KaQuMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTask" android:name="com.bingdian.kazhu.abs.KaQuActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.bingdian.kazhu.activity.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SearchHotelOtherActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PostHotelActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardHotelDetailsPicActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.bingdian.kazhu.activity.CardDiscountDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CommentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CommentListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.RegionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.AddCardActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.bingdian.kazhu.activity.ExchangeListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardHotelDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardCompareActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SearchCardHotelActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PushTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.unused.DownloadActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.BindCreditCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PhotoAlbumActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ImageGridActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.RegistActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.RegistCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.GetBackPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ResetPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.BindedEmailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ChangeNickNameActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.GuideActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.GroupIntroductionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.UserProtocolActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CouponListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CouponDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CouponBindActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ProductDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.OrderListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.bingdian.kazhu.activity.ContactUsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.bingdian.kazhu.activity.FindCardPasswordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.bingdian.kazhu.activity.GroupDiscountListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.GroupPointActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.AirExchangeListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.AirExchangeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardDetailWebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.CardNumZoomActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.BrandSellActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.RedPacketHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.BrandSellDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.StoreAddressListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.MyInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ClaimCardTakePhotoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ClaimCardPhotoTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.ClaimCardPhotoThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SubmitClaimCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SelectAddCardModeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SelectAddCardModeNewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.RegistSexSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PointActListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.PointActDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.AddCardPartListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.GetPointActActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SubmitCardNumActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.MyInfoEditActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.AboutActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.MyShareActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.ShareRulesActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.MyJidianActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.CollectionsActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.SysSettingsActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.MyCouponActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme"/>
        <activity android:name="com.bingdian.kazhu.activity.ReturnOpinionActivity" android:screenOrientation="portrait" android:theme="@style/activityTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.bingdian.kazhu.activity.StoreListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.MapActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.bingdian.kazhu.activity.SupplementInfoActivity" android:screenOrientation="portrait"/>
        <service android:name="com.bingdian.kazhu.service.DownloadService" android:process=":remote">
            <intent-filter>
                <action android:name="com.bingdian.kazhu.service.DOWNLOADSERVICE"/>
            </intent-filter>
        </service>
        <service android:name="com.bingdian.kazhu.service.DownImageService">
            <intent-filter>
                <action android:name="com.bingdian.kazhu.service.DOWNIMAGESERVICE"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name="com.bingdian.kazhu.service.KaQuUpdateService" android:process=":MyAppUpdateService"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1104302922"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.bingdian.kazhu.receiver.PushMessageReceiver">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.baidu.android.pushservice.CommandService"/>
        <service android:exported="true" android:name="com.baidu.android.pushservice.PushService" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="biz.mercue.android.audio.CueService">
            <intent-filter>
                <action android:name="biz.mercue.android.audio.ICueService.com.bingdian.kaqu"/>
            </intent-filter>
        </service>
    </application>
</manifest>
